/**{
    border: 2px solid red;
}*/

body {
    background-color: rgb(37, 36, 36);
    text-align: center;
    align-items: center;
    padding: 10px;
    
   
} 

h1, p {
    color: white;
    background-color: #312d2d;
    padding: 2%;
    margin: auto;
   
}

ul, ol {
    padding: 5px;
    list-style-position: inside;
    background-color: white;
    color: black;
    
    margin: 0;
    
}

img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}